body {
  background-color: #282c34;
  font-family: sans-serif;
}

code {
  font-family: monospace;
}

.App {
  max-width: 500px;
  margin: 50px auto;
  border: 2px solid #61dafb;
  background-color: #282c34;
  color: #61dafb;
  text-align: center;
  
}